.dashboardSection {
  scroll-snap-align: start;
}
.mainContainer {
  height: 95%;
}
.header {
  grid-area: header;
  color: rgb(var(--primary));
  font-weight: 600;
  font-size: var(--font-size-large);
  justify-self: center;
  align-self: center;
}

.dashboardContent {
  height: 100%;
  display: grid;
  grid-template-columns: 0 3fr;
  grid-template-rows: 1fr 1fr 2.5fr 3fr;
  grid-template-areas:
    "header header"
    "sideBar summaryAndFilterButton"
    "sideBar chart"
    "sideBar map";
}
.dashboardContent.isOpen {
  grid-template-columns: 1fr 3fr;
}

.sideBar {
  grid-area: sideBar;
  width: 100%;
}
.barChartContainer {
  grid-area: chart;
}
.mapContainer {
  grid-area: map;
}
.summaryAndFilterButton {
  grid-area: summaryAndFilterButton;
  padding: 0 var(--space-3);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filterButton {
  grid-area: filterButton;
  width: 150px;
  height: 50px;
  justify-self: center;
  border: 1px lightgray solid;
  background-color: white;
  border-radius: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: var(--space-2);
}

.summary {
  grid-area: summary;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

@media (max-width: 500px) {
  .dashboardContent {
    position: relative;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr 2fr 2fr;
    grid-template-areas:
      "header"
      "summaryAndFilterButton"
      "chart"
      "map";
  }
  .dashboardContent.isOpen {
    grid-template-columns: 1fr;
  }
  .sideBar {
    position: absolute;
    height: 100%;
  }

  .summaryAndFilterButton {
    grid-area: summaryAndFilterButton;
    display: flex;
    flex-direction: column-reverse;
  }
  .summary {
    width: 100%;
  }
}
